/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.menu-bar {
    -fx-background-color: derive(#1d1d1d,18%);
}
.menu-bar .label {
    -fx-font-size: 11pt;
    -fx-font-weight: bold;     
    -fx-text-fill: whitesmoke;
    -fx-opacity: 0.9;
}
.menu-item .label {    
    -fx-font-size: 11pt;
    -fx-font-weight: bold;     
    -fx-text-fill: black;    
}

.buttonNumber:disabled {
    /* 1 pixel border around the top and right of the grid: */    
    -fx-opacity: 1;
    -fx-font-weight: bold;   
    -fx-font-size: 9pt;
} 
.button {   
    -fx-max-width: 35.0;
    -fx-max-height: 35.0;     
}
.button:disabled {       
    -fx-opacity: 1;
    -fx-background-color: whitesmoke;
    -fx-border-color: grey;
    -fx-border-width: 0.1; 
}